.bg {
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url("./avi-richards-183715-unsplash.jpg");
    background-size: cover;
    height: 40em;
    text-align: center;
}

.card{
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-bottom: 20px;
}

.bg .text {
    align-content: center;
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 15rem;
}

.navbar {
    background: transparent;
    font-size: 1.5rem;
}

.bg1 .container {
    margin-top: 20px;
}

.content {
    padding: 2rem;
}

.content .container-fluid {
    /*padding: 2rem;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: solid;
    border-radius: 2rem;
}

.content .container-fluid .col {
    /*padding: 1rem;*/
}

.profile .card {
    border-radius: 18px;
}

.profile .card {
    border: transparent;
}

.gig {

    text-align: center;
}

.gig .btn {
    width: 12rem;
}

.car {
    padding-top: 5rem;
    padding-left: 5rem;
}

.car h1 {
    text-align: center;
}

.car h4 {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

body {
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
}

.carousel {
    height: 18rem;
    padding-top: 5rem;
    background: #8EE4AF;
}

.profile img {
    border-radius: 50%;
    transform: scale(0.8);
    /*align-content: center;*/
}

.earned, .inbox {
    padding-top: 1rem;
    border-top: solid;
    border-width: thin;
}

.username {
    text-align: center;
}

.profile {
    /*text-align: center;*/
    padding-left: 4rem;
    padding-right: 4rem;
}

.add {
    text-align: right;
    color: white;
}

.gig-form, .dropdown-menu, .form-group {
}

.gig-form input {
    width: 15rem;

}

.gig-form textarea {
    width: 25rem;
}

.gig-form {
    padding-top: 5rem;
    padding-left: 35%;
    padding-right: 35%;
}

.descr{
    width: 50%;
}